

#arm {
  background-color: black;
  height: 2vh;
  width: 20vw;
  align-self: center;
}

#scale {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.basket {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(2, 15vh);
  background-color: brown;
  height: 30vh;
  width: 30vw;
}

#unused-balls {
  display: flex;
  /* justify-content: center; */
  justify-items: center;
  align-items: center;
  background-color: grey;
  width: 90vw;
  height: 20vh;
  position: fixed;
  bottom: 0;
  right:10vw;
}

.ball {
  position: absolute;
  background-color: blueviolet;
  height: 7vw;
  width: 7vw;
  border-radius: 3.5vw;
  text-align: center;
  color: aliceblue;
}

.ball > h1 {
  padding-top: 2vh;
}

